/* 우선순위 */
/* 0점: 에스터리스크(전체선택자) */
* {
  color: red;
}
/* 1점 : 요소선택자 */
div {
  color: blue;
}
/* 10점: class선택자(별명) */
.specificity {
  color: green;
}
/* 100점: id선택자 */
#selector {
  color: orange;
}
/* 1000점: inline스타일 */
/* 절대점수: !important */
* {
  color: firebrick !important;
}
* {
  color: forestgreen !important;
}
